<ion-card>
  <ion-card-header>

    <ion-card-subtitle>
      <div>
        <span class="text-primary">{{ currentIndex + 1 }}-</span>
        <span class="text-primary">{{ noticia.source.name }}</span>
      </div>
      <div class="noticia-more">
        <ion-button (click)="lanzarMenu()" fill="clear">
          <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-card-subtitle>

    <ion-card-title (click)="abrirNavegador()">{{ noticia.title }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-img *ngIf="noticia.urlToImage" (click)="abrirNavegador()"class="animated fadeIn fast"[src]="noticia.urlToImage" [alt]="noticia.title" ></ion-img>
    <p>{{ noticia.description }}</p>
  </ion-card-content>
</ion-card>

