<ion-grid fixed>
  <ion-row>
    <ion-col size="12" *ngFor="let noticia of listaNoticias; index as currentIndex">
      <app-noticia
        [noticia]="noticia"
        [currentIndex]="currentIndex"
        [isFavorite]="isFavorite"
      ></app-noticia>
    </ion-col>
  </ion-row>
</ion-grid>

