<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <app-noticias *ngIf="localData.noticiasFavoritas.length > 0" [listaNoticias]="localData.noticiasFavoritas"></app-noticias>


</ion-content>
