<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Encabezados
    </ion-title>
  </ion-toolbar>

  <ion-segment scrollable mode="md" (ionChange)="cambioSegmentoCategoria($event)">
    <ion-segment-button mode="md" *ngFor="let categoria of categoriasNoticias" [value]="categoria" >
      <ion-label class="ion-text-uppercase">{{categoria}}</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-header>




<ion-content>
  <app-noticias [listaNoticias]="listaNoticias"></app-noticias>

  <ion-infinite-scroll threshold="25%" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>




